body {
    background-color: #eed9c4;
}

.calc {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc_border {
    border: solid black;
    background-color: black;
    border-radius: 25px;
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_line {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    align-items:flex-end
}

.input_screen {
    border: green solid;
    background-color: green;
    border-radius: 5px;
    width: 420px;
    height: 75px;
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.backspace {
    background-color: gray;
    border: gray solid;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 40px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

#operator,
#number{
    border: #B70000 solid;
    background-color: #B70000;
    color: white;
    border-radius: 5px;
    font-size: 40px;
    width: 75px;
    height: 75px;
    margin: 15px;
}

#operator-equal {
    background-color: #D25516;
    border: #D25516 solid;
    border-radius: 5px;
    color: white;
    font-size: 40px;
    width: 75px;
    height: 75px;
    margin: 15px;
}

#number:active,
#operator:active,
#operator-equal:active,
#del:active{
    transform: translateY(4px);
}